@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-black: #1A1A1A;
    --light-green: #C9FA49;
    --med-green: #7A972B;
    --dark-green: #3D4C15;
    --silver: #E1E1E1;
    --grey: #4E4E4E;
}